<div class="auth">
  <%= link_to google_oauth2_path, class: 'btn btn-primary p-0 pr-3 font-weight-bold' do %>
    <%= image_tag "btn_google_dark_normal_ios.svg", alt: "Google G Logo" %>
    Sign in with Google
  <% end %>
</div>
